.button-style {
    color: #F3F3F3 ;
    background-color: #397BFF ;
    border: none;
    border-radius: 5px;
    
}
  
.button-style:hover {
    color: #397BFF  ;
    border:1px solid #397BFF ;
    border-radius: 5px;
    background-color:transparent;
  }
