<div class="container">
    <div class="row mt-5">
        <div class="col-md-8">
            <h5>Créer votre propre espace de travail ou rejoindre un espace existant.</h5>
            <h4 class="mt-4"><b>Créer Votre Entreprise</b></h4>
            <p class="mt-4">Cette initiative vise à encourager les entreprises à 
                créer leur propre espace de travail personnalisé sur 
                notre plateforme en leur offrant des solutions cloud 
                adaptées à leurs besoins.</p>
                    <app-button content="Créer" (click)=" createEntreprise()"></app-button>
                    <button  class="ms-3 btn" (click)=" joinEntreprise()">Rejoindre</button>
        </div>
        <div class="col-md-4">
            <img src="assets/add-entreprise.svg" alt="add-entreprise" class="header-img">
        </div>
    </div>
</div>
