<div class="container mt-5  outer-div text-center">
  <div class="">
    <h5>Entrez en contact avec l'un de nos experts en vente chez Cumulus.</h5>
    <div>
      <h6 class="mt-4"> <img src="assets/contact-icon.png" alt="icon" class="me-2">   Discutez en profondeur de votre propre problématique.</h6>
      <h6 class="mt-4"> <img src="assets/contact-icon.png" alt="icon" class="me-2">  Échangez sur les tarifs de nos produits et solutions.</h6>
      <h6 class="mt-4"> <img src="assets/contact-icon.png" alt="icon" class="me-2">  Découvrez des cas d'utilisation adaptés à votre secteur d'activité.</h6>
    </div>
    <div class="row">
      <div class="col-md-6">
        <input type="text" name="" id="" class="mt-4 email p-2 input" placeholder="Nom*">
      </div>
      <div class="col-md-6">
        <input type="text" name="" id="" class="mt-4 email p-2 input" placeholder="Prénom">
      </div> 
      <div class="col-md-6">
        <input type="email" name="" id="" class="mt-4 email p-2 input" placeholder="Fonction*">
      </div>
      <div class="col-md-6">
        <input type="password" name="" id="" class="mt-4 email p-2 input" placeholder="E-mail Pro*">
      </div>
      <div class="col-md-12">
        <input type="text" name="" id="" class="mt-4 email p-2 input" placeholder="Nom Entreprise"> <br>
      </div>
      <div class="col-md-6">
        <select class="mt-4  p-2 email">
          <option selected>Secteur*</option>
        </select>
      </div>
      <div class="col-md-6">
        <select class="mt-4  p-2 email">
          <option selected>Pays*</option>
        </select>
      </div>
      <div class="col-md-12">
        <textarea class="mt-4 email p-2 input" placeholder="Décrivez votre problématique métier"> </textarea>
      </div>
      <div class="col-md-6 envoyer-button">
        <app-button content="Envoyer" class="btn text-center inscription-button mt-4"></app-button>
      </div>
    </div>
  </div>