<div class="container">
    <div class="row mt-5 ">
        <div class="col-md-8">
            <h5>Cumulus, seulement si vous voulez ce qu'il y a de mieux.</h5>
            <h4 class="mt-4"><b>Votre cloud à portée de main</b></h4>
            <p class="mt-4">Que vous cherchiez à améliorer votre stockage de données, à augmenter votre <br> efficacité de travail ou à faciliter la collaboration, Cumulus a tout ce dont vous <br> avez besoin pour réussir.</p> 
            <app-button content="Commencer"></app-button>
        </div>
        <div class="col-md-4 ">
            <img src="assets/connexion-img.svg" alt="header-img" class="header-img">
        </div>
    </div>
    <div class="container">
      <div class="row mt-5">
        <h4><b>Pourquoi choisir Cumulus?</b></h4>
   <div class="d-flex justify-content-around mt-5 row">
  <div class="text-center col-md-2">
    <img src="assets/interactif-icon.png" class="pqc" alt=""> 
    <p class="mt-2">Interactif</p>
  </div>
  <div class="text-center col-md-2">
    <img src="assets/rentable-icon.png" class="pqc" alt=""> 
    <p class="mt-2">Rentable</p>
  </div>
  <div class="text-center col-md-2">
    <img src="assets/sécurisé-icon.png" class="pqc" alt=""> 
    <p class="mt-2">Sécurisé</p>
  </div>
  <div class="text-center col-md-2">
    <img src="assets/innovant-icon.png" class="pqc" alt=""> 
    <p class="mt-2">Innovant</p>
  </div>
  <div class="text-center col-md-2 mb-5">
    <img src="assets/privé-icon.png" class="pqc" alt=""> 
    <p class="mt-2">Privé</p>
  </div>
  <div class="col-md-2 mt-5">
    <p class="en-savoir-plus mt-5" (click)="scrollDown()">En Savoir Plus  →</p>
  </div>
   </div>
    </div>
    </div>
 
    <div class="row mt-5 mb-5">
        <h4><b>Top services</b></h4>
        <div class="d-flex justify-content-around mt-5 row">
            <div class="text-center col-md-3">
                <img src="assets/monitoring.png" alt="monitoring-img" class="ser-img">
                <h6 class="mt-3"><b>Monitoring</b></h6>
                <p>Surveiller les performances</p>
                <p class="voir">Voir →</p>
            </div>
            <div class="text-center col-md-3">
                <img src="assets/vm.png" alt="monitoring-img" width="33%">
                <h6 class="mt-3"><b>Virtual Machine</b></h6>
                <p class="text-nowrap">Exécuter des charges de travail diverses</p>
                <p class="voir">Voir →</p>

            </div>
            <div class="text-center col-md-3">
                <img src="assets/kubernetes.png" alt="monitoring-img" class="ser-img">
                <h6 class="mt-3"><b>Kubernetes</b></h6>
                <p>Onchestration de conteneurs</p>
                <p class="voir">Voir →</p>

            </div>
            <div class="text-center col-md-3">
                <img src="assets/nl.png" alt="monitoring-img" class="ser-img">
                <h6 class="mt-3"><b>Network Lab</b></h6>
                <p>Environnement virtuel réseau</p>
                <p class="voir">Voir →</p>
            </div>
        </div>
    </div>
</div>