<div class="container mt-5">
    <div class="row mt-5">
      <div class="col-md-7 mt-5">
          <h5>Veuillez remplir les champs nécessaires</h5>
          <h4 class="mt-5"><b>Rejoindre Une Entreprise</b></h4>
          <form>
              <input type="number" name="" id="" class="mt-4 email p-2 input" placeholder="ID Entreprise*"> 
          </form>
        <div class="mt-4">
            <app-button content="Rejoindre"></app-button>

        </div>
        </div>
      <div class="col-md-5 mt-5 ">
        <img src="assets/add-entreprise.svg" alt="add-entreprise" class="header-img">
    </div>
    </div>
    </div>
    