<div class="container mt-5  outer-div">
    <div class="inner-div">
     <h5>Veuillez remplir les champs nécessaires</h5>
     <h4 class="mt-4"> <b>Bienvenue sur cumulus</b></h4>
     <div class="row">
 <div class="col-md-6">
   <form>
     <input type="text" name="" id="" class="mt-4 email p-2 input" placeholder="Nom Entreprise*">  <br>
     <select class="mt-4 selectb p-2 email ">
        <option selected>Nombre d'employés*</option>
      </select> <br> 
      <select class="mt-4 selectb p-2 email ">
        <option selected>Pays*</option>
      </select> <br>   
       <input type="text" name="" id="" class="mt-4 email p-2 input" placeholder="Adresse*"> <br>
     <input type="number" name="" id="" class="mt-4 email p-2 input" placeholder="Numéro*"> 
 </form>
 </div>
 <div class="col-md-6">
   <form>
     <input type="text" name="" id="" class="mt-4 email p-2 input" placeholder="E-mail Entreprise">  <br>
     <select class="mt-4 email p-2 selectb">
        <option selected>Secteur d'activité*</option>
      </select> <br>
      <select class="mt-4 email p-2 selectb">
        <option selected>Ville*</option>
      </select> <br>
    <input type="number" name="" id="" class="mt-4 email p-2 input" placeholder="Code postal*"> <br>
     <input type="number" name="" id="" class="mt-4 email p-2 input" placeholder="Fixe*"> 
 </form>
 </div>
       </div>
       <div class="mt-4">
        <app-button content="Créer" ></app-button>
       </div>
     </div>
    </div>
 